<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="PROJECT_NAME" value="empresa-aerea" />
	<property name="LOGS" value="${user.dir}/logs/${PROJECT_NAME}" />
	<logger name="org.apache.cxf" level="INFO" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/${PROJECT_NAME}.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{36} [%file:%line] %msg%n
			</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/${PROJECT_NAME}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>5</maxHistory>
		</rollingPolicy>

	</appender>

	<!-- <logger name="br.com.sf.apiguiastatus" level="DEBUG" additivity="false"> 
		<appender-ref ref="STDOUT" /> <appender-ref ref="FILE" /> </logger> -->

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
